[project]
name = "pybind11_json"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[dependencies]
python = ">=3.7"

[feature.py37.dependencies]
python = "3.7.*"
[feature.py38.dependencies]
python = "3.8.*"
[feature.py39.dependencies]
python = "3.9.*"
[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.py313.dependencies]
python = "3.13.*"

[environments]
py37 = ["py37"]
py38 = ["py38"]
py39 = ["py39"]
py310 = ["py310"]
py311 = ["py311"]
py312 = ["py312"]
py313 = ["py313"]

# Build dependencies
cmake = "*"
cxx-compiler = "*"
ninja = "*"
# Host dependencies
nlohmann_json = "*"
pybind11 = "*"

[tasks.test]
cmd = "./build/test/test_pybind11_json"
depends_on = ["build"]

[tasks.configure]
cmd = [
    "cmake",
    "-GNinja",
    "-S.",
    "-Bbuild",
    "-DDOWNLOAD_GTEST=ON",
    "-DCMAKE_INSTALL_LIBDIR=lib",
    "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
]
inputs = ["CMakeLists.txt"]
outputs = ["build/CMakeFiles/"]

[target.win-64.tasks.configure]
cmd = [
    "cmake",
    "-GNinja",
    "-S.",
    "-Bbuild",
    "-Dgtest_force_shared_crt=ON",
    "-DDOWNLOAD_GTEST=ON",
    "-DCMAKE_INSTALL_LIBDIR=Library",
    "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
]


[tasks.build]
cmd = ["cmake", "--build", "build"]
depends_on = ["configure"]
inputs = [
    "CMakeLists.txt",
    "src/*"
]
outputs = [
    "build/"
]
